body {
	margin: 0;
	padding: 0;
	font-family: serif;
	background-color: #FDEDEC;

}
nav {
	width: 100%;
	background: #062C56; 
}
ul {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
ul li {
	list-style: none;
	display: inline-block;
	padding: 20px;
}
ul li:hover {
	background: #E6B0AA;
}
ul li a {
	color: #fff;
	text-decoration: none;
}
.toggle {
	width: 100%;
	padding: 10px 20px;
	background: #17202A;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px; 
	display: none;
}

section.full {
    width: 50%;
    margin-left: 50pt;
    margin-right:50pt;
    background-color: #FDEDEC;

}
section .melayang {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 50%;
  height: 600px;
  /*background-color: pink;*/
}

h1 {
	font-size: 24pt;
	font-family: serif;
	
}

h2 {
	font-size: 13pt;
	font-family: serif;
	
}

p {
	font-size: 12pt;
	font-family: serif;
	text-align: left;
	display: block;
   
}

ol li:before {
    font-family: sans-serif;
    font-size: 12pt;
    position: absolute;
    margin-left: -2.5rem;
}


a:hover{
	color: #062C56;
}


@media (max-width:768px) 
{
		.toggle
		{
			display: block;
		}
		ul 
		{
			width: 100%;
			display: none;
		}
		ul li 
		{
			display: block;
			text-align: center;
		}
		.active {
			display: block;
		}

		section.full {
   		padding: 0;
   		width: 80%;
    	margin-left: 50pt;
    	margin-right:50pt;
		}

		section.spacing {
		width: 80%;
		height: 50%;
		}

		section .melayang {
		    top: 50%;
		    left: 10%;
		    right: 10%;
		    width: 80%;
		 }

		 h1 {
		 	font-size: 27px;
		 	font-family: serif;
		 }
		 h2 {
		 	font-size: 12pt;
		 	font-family: serif;
		 }
		 p {
		 	font-size: 15px;
		 	font-family: serif;
		 	text-align: left;
		 	display: block;
		    
		 }

}












