@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,600|Raleway:300,400&display=swap');

h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 50px;
	color: black;
}

p {
	font-family: 'Times New Roman', 'serif';
	font-size: 18px;
	color: #3C2415;
	font-weight: 600;
}