* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
section.container {
	width: 100%;
	height: 90vh;
}

.title {
	width: 100%;
	height: 20%;
}

.title h1 {
	padding-top: 3%;
	padding-left: 2.5%;
	font-size: 90px;
	color: #603813;
}

.part {
	width: 100%;
	height: 70%;
}

.part1 {
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
	float: left;
	background-image: url("../image/IMG_6104.JPG");
	background-size: cover;
}

.part1:hover {
	background-color: #DDD9A0;

}

.part2 {
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
	float: left;
	background-image: url("../image/IMG_6100.JPG");
	background-size: cover;
}

.part2:hover {
	background-color: #B7CEE0;
}

.part3 {
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
	float: left;
	background-image: url("../image/IMG_6103.JPG");
	background-size: cover;
}

.part3:hover {
	background-color: #626553;
}

.atas1 h1{
	padding-top: 60%;
	padding-left: 20px;
	font-size: 80px;
	color: white;
}

.atas1 h1:hover {
	color: #626553;
}

.atas2 h1{
	padding-top: 60%;
	padding-left: 20px;
	font-size: 80px;
	color: #C094C1;
}

.atas2 h1:hover {
	color: #B4C0C6;
}

.atas3 h1{
	padding-top: 60%;
	padding-left: 20px;
	font-size: 80px;
	color: #E16A5C;
}

.atas3 h1:hover {
	color: #B9AF88;
}

.atas11 h1{
	padding-left: 20px;
	font-size: 80px;
	color: white;
}

.atas11 h1:hover {
	color: #626553;
}

.atas22 h1{
	padding-left: 20px;
	font-size: 80px;
	color: #C094C1;
}

.atas22 h1:hover {
	color: #B4C0C6;
}

.atas33 h1{
	padding-left: 20px;
	font-size: 80px;
	color: #E16A5C;
}

.atas33 h1:hover {
	color: #B9AF88;
}

section.footer {
	width: 100%;
	height: 10vh;
	background-color: #B9AF88;
}

.footerr {
	width: 40%;
	height: 100%;
	float: left;
}

.footerr p {
	padding-top: 30px;
	padding-left: 5%;
}

.footerr2 {
	width: 30%;
	height: 100%;
	float: right;;
}

.footerr2 p {
	text-align: right;
	padding-top: 30px;
	padding-right: 5%;
}

section.navigation {
	width: 100%;
	height: 10vh;
	background-color: #B4C0C6;
}

.home {
	width: auto;
	height: 100%;
	margin-left: 10%;
	float: left;
}

.home p {
	padding-top: 25px;
}

.home p:hover {
	color: #ffffff;
}

.categories {
	width: auto;
	height: 100%;
	margin-left: 10%;
	float: left;
}

.categories p {
	padding-top: 25px;
}

.categories p:hover {
	color: #ffffff;
}

.dropdown p {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.dropdown p:hover {
	color: #ffffff;
}

.dropdown {
	width: 120%;
	height: 100%;
	background-color: #B9AF88;
	display: none;
}

.categories:hover .dropdown {
	display: block;
}


@media (max-width:768px) 
{

.title {
	width: 100%;
	height: 20%;
}

.title h1 {
	padding-top: 3%;
	padding-left: 2.5%;
	font-size: 90px;
	color: #603813;
}

.part {
	width: 100%;
	height: 70%;
}

.part1 {
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
	float: left;
	background-image: url("../image/IMG_6104.JPG");
	background-size: cover;
	background-position: center;
}

.part1:hover {
	background-color: #DDD9A0;

}

.part2 {
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
	float: left;
	background-image: url("../image/IMG_6100.JPG");
	background-size: cover;
	background-position: left;
}

.part2:hover {
	background-color: #B7CEE0;
}

.part3 {
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
	float: left;
	background-image: url("../image/IMG_6103.JPG");
	background-size: cover;
	background-position: center;
}

.part3:hover {
	background-color: #626553;
}

.atas1 h1{
	padding-top: 60%;
	padding-left: 10px;
	font-size: 25px;
	color: white;
}

.atas1 h1:hover {
	color: #626553;
}

.atas2 h1{
	padding-top: 60%;
	padding-left: 10px;
	font-size: 25px;
	color: #C094C1;
}

.atas2 h1:hover {
	color: #B4C0C6;
}

.atas3 h1{
	padding-top: 60%;
	padding-left: 10px;
	font-size: 25px;
	color: #E16A5C;
}

.atas3 h1:hover {
	color: #B9AF88;
}

.atas11 h1{
	padding-left: 10px;
	font-size: 25px;
	color: white;
}

.atas11 h1:hover {
	color: #626553;
}

.atas22 h1{
	padding-left: 10px;
	font-size: 25px;
	color: #C094C1;
}

.atas22 h1:hover {
	color: #B4C0C6;
}

.atas33 h1{
	padding-left: 10px;
	font-size: 25px;
	color: #E16A5C;
}

.atas33 h1:hover {
	color: #B9AF88;
}

section.footer {
	width: 100%;
	height: 10vh;
	background-color: #B9AF88;
}

.footerr {
	width: 40%;
	height: 100%;
	float: left;
}

.footerr p {
	text-align: right;
	padding-top: 10px;
	padding-left: 5%;
}

.footerr2 {
	width: 30%;
	height: 100%;
	float: right;
}

.footerr2 p {
	text-align: right;
	padding-top: 10px;
	padding-right: 5%;
}

	}




section.container1 {
	width: 100%;
	height: 70vh;
	margin-top: 5%;
	background-color: #DDD9A0;
}


.margin {
	width: 70%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.text p {
	text-align: center;
	padding-top: 15px;
}

.image {
	width: 100%;
	height: 60%;
	margin-top: 2%;
}

.image1 {
	width: 30%;
	height: 100%;
	margin-right: 5%;
	background-image: url("../image/IMG_5856.JPG");
	background-size: cover;
	float: left;
}

.image2 {
	width: 30%;
	height: 100%;
	margin-right: 5%;
	background-image: url("../image/IMG_5857 2.JPG");
	background-size: cover;
	float: left;
}

.image3 {
	width: 30%;
	height: 100%;
	background-image: url("../image/IMG_5858.JPG");
	background-size: cover;
	float: left;
}

.textbawah {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}
.textbawah p {
	text-align: center;
	font-weight: 100;
}

@media (max-width:768px) 
{ 
	
	section.container1 {
	width: 100%;
	height: 80vh;
	margin-top: 5%;
	background-color: #DDD9A0;
	}
	
	.margin {
	width: 90%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	}

	.text p {
	text-align: center;
	padding-top: 10px;
	}

	.image {
	width: 100%;
	height: 60%;
	margin-top: 2%;
	}

	.image1 {
	width: 30%;
	height: 100%;

	background-image: url("../image/IMG_5856.JPG");
	background-size: cover;
	background-position: center;
	float: left;
	}

	.image2 {
	width: 30%;
	height: 100%;
	background-image: url("../image/IMG_5857 2.JPG");
	background-size: cover;
	background-position: center;
	float: left;
	}

	.image3 {
	width: 30%;
	height: 100%;
	background-image: url("../image/IMG_5858.JPG");
	background-size: cover;
	background-position: center;
	float: left;
	}

	.textbawah {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	}
	
	.textbawah p {
	font-size: 12px;
	text-align: center;
	font-weight: 100;
	}
}



section.block1 {
	widows: 100%;
	height: 90vh;
	margin-top: 5%;
}

.back {
	width: 100%;
	height: 100%;
	background-color: #B7CEE0;
}

.text1 {
	width: 60%;
	height: 10%;
	margin-left: auto;
	margin-right: auto;
}

.text1 h1 {
	text-align: left;
}

.middle {
	width: 60%;
	height: 90%;
	background-color: #DDD9A0;
	margin-left: auto;
	margin-right: auto;
}

.textnya {
	width: 40%;
	height: 100%;
	float: left;
}

.foto1 {
	width: 60%;
	height: 100%;
	background-image: url("../image/IMG_5816.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}

.top {
	width: 60%;
	height: 30%;
	padding-top: 3%;
	padding-left: 3%;
}

.bottom {
	width: 100%;
	height: 40%;
	padding-left: 3%;
}

.bottom p {
	padding-top: 50%;
	color: #5F3817;
}

.bottom h1 {
	font-size: 90px;
	color: #5F3817;
}

section.block2 {
	width: 100%;
	height: 70vh;
	margin-top: 10%;
	margin-bottom: 10%;
}

.foto2 {
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
	float: left;
	background-image: url("../image/IMG_5826.JPG");
	background-size: cover;
	background-position: center;
}

.foto3 {
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
	float: left;
	background-image: url("../image/IMG_5827.JPG");
	background-size: cover;
	background-position: center;
}

.foto4 {
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
	float: left;
	background-image: url("../image/IMG_5825.JPG");
	background-size: cover;
	background-position: center;
}

section.block3 {
	width: 100%;
	height: 80vh;
	margin-bottom: 10%;
	background-color: #FDE3D4;
}

.bagiankiri {
	width: 35%;
	height: 100%;
	margin-left: 12.5%;
	float: left;
}

.anniv {
	width: 75%;
	height: 40%;
	background-image: url("../image/10 anniversary.png");
	background-size: cover;
	background-position: center;
	margin-top: 20%;
	margin-left: 25%;
}

.texttt {
	width: 120%;
	height: 35%;
	background-color: #DDD8A3;
}

.texttt p {
	width: 65%;
	padding-left: 10%;
	padding-top: 5%;
	font-weight: 100;
}

.bagiankanan {
	width: 40%;
	height: 70%;
	margin-top: 5%;
	background-image: url("../image/IMG_5831.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}


section.block4 {
	width: 100%;
	height: 70vh;
	margin-top: 10%;
	margin-bottom: 10%;
}

.place1 {
	width: 60%;
	height: 50%;
	margin-right: auto;
	margin-left: auto;
}

.foto5 {
	width: 32%;
	height: 100%;
	margin-right: 2%;
	background-image: url("../image/IMG_5833.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}

.foto6 {
	width: 32%;
	height: 100%;
	margin-right: 2%;
	background-image: url("../image/IMG_5835.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}

.foto7 {
	width: 32%;
	height: 100%;
	background-image: url("../image/IMG_5834.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}

.tulisan1 {
	width: 60%;
	height: 47%;
	margin-top: 2%;
	background-color: #F9E3C0;
	margin-right: auto;
	margin-left: auto;
}

.tulisan1 p {
	width: 45%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5%;
	line-height: 25px;
	font-weight: 100;
}

section.block5 {
	width: 100%;
	height: 80vh;
	margin-bottom: 10%;
	background-color: #C8DEEE;
}

.place2 {
	width: 40%;
	height: 100%;
	float: left;
}

.place2 p {
	width: 50%;
	margin-left: 30%;
	margin-top: 50%;
	font-weight: 100;
	
}

.place3 {
	width: 55%;
	height: 80%;
	float: left;
	margin-top: 5%;
}

.foto8 {
	width: 45%;
	height: 100%;
	margin-right: 3%;
	background-image: url("../image/IMG_5822.JPG");
	background-size: cover;
	background-position: center;
	float: left;	
}

.foto9 {
	width: 45%;
	height: 100%;
	background-image: url("../image/IMG_5842.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}


section.block6 {
	width: 100%;
	height: 100vh;
	margin-top: 10%;
	margin-bottom: 10%;
}

.foto10 {
	width: 50%;
	height: 80%;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../image/IMG_5837.JPG");
	background-size: cover;
	background-position: center;
}

.june {
	width: 35%;
	height: 20%;
	background-image: url("../image/25 juni.png");
	background-size: cover;
	background-position: center;
	float: right;
	margin-right: 10%;
}

section.block7 {
	width: 100%;
	height: 80vh;
	background-color: #DDD8A3;
}

.foto11 {
	width: 24.25%;
	height: 80%;
	margin-right: 1%;
	margin-top: 5%;
	background-image: url("../image/IMG_5817.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
}

.foto12 {
	width: 24.25%;
	height: 80%;
	margin-right: 1%;
	margin-top: 5%;
	background-image: url("../image/IMG_5819.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
}

.foto13 {
	width: 24.25%;
	height: 80%;
	margin-right: 1%;
	margin-top: 5%;
	background-image: url("../image/IMG_5818.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
}

.foto14 {
	width: 24.25%;
	height: 80%;
	margin-top: 5%;
	background-image: url("../image/IMG_5838.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
}

section.block8 {
	width: 100%;
	height: 80vh;
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: #FDE3D4;
}

.place5 {
	width: 30%;
	height: 100%;
	float: left;
}

.place5 p {
	width: 60%;
	margin-top: 60%;
	font-weight: 100;
	
}

.place4 {
	width: 55%;
	height: 80%;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
}

.foto15 {
	width: 45%;
	height: 100%;
	margin-right: 3%;
	background-image: url("../image/IMG_5821.JPG");
	background-size: cover;
	background-position: center;
	float: left;	
}

.foto16 {
	width: 45%;
	height: 100%;
	background-image: url("../image/IMG_5840.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}

section.block9 {
	width: 100%;
	height: 70vh;
}

.place6 {
	width: 60%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../image/IMG_5843.JPG");
	background-size: cover;
	background-position: center;
}

.place7 {
	width: 10%;
	height: 15%;
	float: left;
	margin-left: 63%;
}

.place7 p {
	text-align: right;
	padding-top: 30%;
	font-weight: 100;
}

.place8 {
	width: 17%;
	height: 20%;
	margin-right: 10%;
	float: right;
	background-image: url("../image/valensole.png");
	background-size: cover;
	background-position: center;
}

section.block10 {
	width: 100%;
	height: 80vh;
	background-color: #DDD8A3;
}

.foto17 {
	width: 24.25%;
	height: 80%;
	margin-right: 1%;
	margin-top: 5%;
	background-image: url("../image/IMG_5824.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
}

.foto18 {
	width: 24.25%;
	height: 80%;
	margin-right: 1%;
	margin-top: 5%;
	background-image: url("../image/IMG_5820.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
}

.foto19 {
	width: 24.25%;
	height: 80%;
	margin-right: 1%;
	margin-top: 5%;
	background-image: url("../image/IMG_5823.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
}

.foto20 {
	width: 24.25%;
	height: 80%;
	margin-top: 5%;
	background-image: url("../image/IMG_5841.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
}

section.block11 {
	width: 100%;
	height: 70vh;
	margin-bottom: 10%;
	margin-top: 10%;
}

.place9 {
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #DDD8A3;
}

.foto21 {
	width: 60%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../image/IMG_5830.JPG");
	background-size: cover;
	background-position: center;
}

section.block12 {
	width: 100%;
	height: 80vh;
	margin-top: 10%;
	margin-bottom: 10%;
	background-image: url("../image/IMG_5847.JPG");
	background-size: cover;
	background-position: center;
}

section.block13 {
	width: 100%;
	height: 80vh;
	background-color: #F9E3C0;
	margin-bottom: 10%;
}

.place10 {
	width: 50%;
	height: 100%;
	float: left;
}

.foto22 {
	width: 45%;
	height: 70%;
	margin-left: 40%;
	background-image: url("../image/IMG_5836.JPG");
	background-size: cover;
	background-position: center;
}

.place11 {
	width: 50%;
	height: 20%;
	margin-left: 40%;
	margin-top: 5%;
}

.place11 p {
	font-weight: 100;
}



.place12 {
	width: 40%;
	height: 100%;
	background-image: url("../image/IMG_5815.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}

section.block14 {
	width: 100%;
	height: 30vh;
	margin-bottom: 10%;
}

.place14 {
	width: 40%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../image/simondorte.png");
	background-size: cover;
	background-position: center;
}


@media (max-width:768px) 
{ 

	section.block1 {
		widows: 100%;
		height: 90vh;
		margin-top: 5%;
	}

	.back {
		width: 100%;
		height: 100%;
		background-color: #B7CEE0;
	}

	.text1 {
		width: 80%;
		height: 10%;
	}

	.text1 h1 {
		margin-right: : 1px;
		padding-right: : 1px;
	}

	.middle {
		width: 80%;
		height: 70%;
		background-color: #DDD9A0;
		margin-left: auto;
		margin-right: auto;
	}

	.textnya {
		width: 40%;
		height: 100%;
		float: left;
	}

	.foto1 {
		width: 60%;
		height: 100%;
		background-image: url("../image/IMG_5816.JPG");
		background-size: cover;
		background-position: center;
		float: left;
	}

	.top {
		width: 60%;
		height: 30%;
		padding-top: 3%;
		padding-left: 3%;
	}

	.top p {
		font-size: 12px;
	}

	.bottom {
		width: 100%;
		height: 40%;
		padding-left: 3%;
	}

	.bottom p {
		font-size: 8px;
		padding-top: 50%;
		color: #5F3817;
	}

	.bottom h1 {
		font-size: 40px;
		color: #5F3817;
		margin-bottom: 0px; 
		padding-right: 10pt;
	}

	section.block2 {
		width: 100%;
		height: 60vh;
		margin-top: 20%;
		margin-bottom: 20%;
	}

	.foto2 {
		width: 33,3%;
		height: 100%;
		float: left;
		background-image: url("../image/IMG_5826.JPG");
		background-size: cover;
		background-position: center;
		margin-left: 5%;
	}

	.foto3 {
		width: 33,3%;
		height: 100%;
		margin-left: 0%;
		float: left;
		background-image: url("../image/IMG_5827.JPG");
		background-size: cover;
		background-position: center;
	}

	.foto4 {
		width: 33,3%;
		height: 100%;
		margin-left: 0%;
		float: left;
		background-image: url("../image/IMG_5825.JPG");
		background-size: cover;
		background-position: center;
	}

	section.block3 {
		width: 100%;
		height: 80vh;
		margin-bottom: 10%;
		background-color: #FDE3D4;
	}

	.bagiankiri {
		width: 35%;
		height: 100%;
		float: left;
	}

	.anniv {
		width: 90%;
		height: 30%;
		background-image: url("../image/10 anniversary.png");
		background-position: center;
		background-size: contain;
		margin-top: 30%;
		margin-left: 10pt;
	}

	.texttt {
		width: 120%;
		height: 60%;
		background-color: #DDD8A3;
	}

	.texttt p {
		width: 65%;
		padding-left: 10%;
		padding-top: 20%;
		font-weight: 100;
		font-size: 15px;
	}

	.bagiankanan {
		width: 50%;
		height: 70%;
		margin-top: 5%;
		background-image: url("../image/IMG_5831.JPG");
		background-size: cover;
		background-position: center;
		float: right;
	}


	section.block4 {
		width: 100%;
		height: 70vh;
		margin-top: 30%;
		margin-bottom: 10%;
	}

	.place1 {
		width: 60%;
		height: 50%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 10%;

	}

	.foto5 {
		width: 32%;
		height: 100%;
		margin-right: 2%;
		background-image: url("../image/IMG_5833.JPG");
		background-size: cover;
		background-position: right;
		float: left;
	}

	.foto6 {
		width: 32%;
		height: 100%;
		margin-right: 2%;
		background-image: url("../image/IMG_5835.JPG");
		background-size: cover;
		background-position: center;
		float: left;
	}

	.foto7 {
		width: 32%;
		height: 100%;
		background-image: url("../image/IMG_5834.JPG");
		background-size: cover;
		background-position: center;
		float: left;
	}

	.tulisan1 {
		width: 60%;
		height: 40%;
		margin-top: 2%;
		background-color: #F9E3C0;
	}

	.tulisan1 p {
		width: 100%;
		font-size: 15px;
		text-align: center;
	}

	section.block5 {
		width: 100%;
		height: 80vh;
		background-color: #C8DEEE;
	}

	.place2 {
		width: 40%;
		height: 100%;
		float: left;
	}

	.place2 p {
		font-size: 15px;
		width: 50%;
		margin-left: 30%;
		margin-top: 50%;
		font-weight: 100;
		
	}

	.place3 {
		width: 55%;
		height: 80%;
		float: left;
		margin-top: 5%;
	}

	.foto8 {
		width: 45%;
		height: 100%;
		margin-right: 3%;
		background-image: url("../image/IMG_5822.JPG");
		background-size: cover;
		background-position: center;
		float: left;	
	}

	.foto9 {
		width: 45%;
		height: 100%;
		margin-top: 40%;
		background-image: url("../image/IMG_5842.JPG");
		background-size: cover;
		background-position: center;
		float: right;
	}


	section.block6 {
		width: 100%;
		height: 100vh;
		margin-top: 10%;
		margin-bottom: 10%;
	}

	.foto10 {
		width: 70%;
		height: 80%;
		margin-right: auto;
		margin-left: auto;
		background-image: url("../image/IMG_5837.JPG");
		background-size: cover;
		background-position: center;
	}

	.june {
	width: 87%;
	height: 20%;
	background-image: url("../image/25 juni.png");
	background-size: cover;
	background-position: left;
	float: right;
	margin-right: 0pt;
	}

	section.block7 {
		width: 100%;
		height: 80vh;
		background-color: #DDD8A3;
	}

	.foto11 {
		width: 24.25%;
		height: 80%;
		margin-right: 1%;
		margin-top: 30%;
		background-image: url("../image/IMG_5817.JPG");
		background-size: cover;
		background-position: top center;
		float: left;
	}

	.foto12 {
		width: 24.25%;
		height: 80%;
		margin-right: 1%;
		margin-top: 5%;
		background-image: url("../image/IMG_5819.JPG");
		background-size: cover;
		background-position: top center;
		float: left;
	}

	.foto13 {
		width: 24.25%;
		height: 80%;
		margin-right: 1%;
		margin-top: 30%;
		background-image: url("../image/IMG_5818.JPG");
		background-size: cover;
		background-position: top center;
		float: left;
	}	

	.foto14 {
		width: 24.25%;
		height: 80%;
		margin-top: 5%;
		background-image: url("../image/IMG_5838.JPG");
		background-size: cover;
		background-position: top center;
		float: left;
		}

	section.block8 {
	width: 100%;
	height: 80vh;
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: #FDE3D4;
	}

	.place5 {
	width: 30%;
	height: 100%;
	float: left;
	}	

	.place5 p {
	font-size: 15px;
	width: 60%;
	margin-top: 60%;
	font-weight: 100;	
	}

	.place4 {
	width: 55%;
	height: 80%;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	}

	.foto15 {
	width: 45%;
	height: 100%;
	margin-top: 40%;
	margin-right: 3%;
	background-image: url("../image/IMG_5821.JPG");
	background-size: cover;
	background-position: center;
	float: left;	
	}

	.foto16 {
	width: 45%;
	height: 100%;
	background-image: url("../image/IMG_5840.JPG");
	background-size: cover;
	background-position: center;
	float: left;
	}

	section.block9 {
	width: 100%;
	height: 50vh;
	}

	.place6 {
	width: 60%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../image/IMG_5843.JPG");
	background-size: cover;
	background-position: left;
	}

	.place7 {
	width: 10%;
	height: 15%;
	float: left;
	margin-left: 50%;
	}

	.place7 p {
	font-size: 10px;
	text-align: center;
	padding-top: 30%;
	font-weight: 100;
	}

	.place8 {
	width: 30%;
	height: 15%;
	margin-right: 10%;
	float: right;
	background-image: url("../image/valensole.png");
	background-size: contain;
	background-position: center;
	}

	section.block10 {
	width: 100%;
	height: 80vh;
	background-color: #DDD8A3;
	}

	.foto17 {
	width: 24.25%;
	height: 80%;
	margin-right: 1%;
	margin-top: 5%;
	background-image: url("../image/IMG_5824.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
	}

	.foto18 {
	width: 24.25%;
	height: 80%;
	margin-right: 1%;
	margin-top: 30%;
	background-image: url("../image/IMG_5820.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
	}

	.foto19 {
	width: 24.25%;
	height: 80%;
	margin-right: 1%;
	margin-top: 5%;
	background-image: url("../image/IMG_5823.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
	}

	.foto20 {
	width: 24.25%;
	height: 80%;
	margin-top: 30%;
	background-image: url("../image/IMG_5841.JPG");
	background-size: cover;
	background-position: top center;
	float: left;
	}

	section.block11 {
	width: 100%;
	height: 70vh;
	margin-bottom: 10%;
	margin-top: 10%;
	}

	.place9 {
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #DDD8A3;
	}

	.foto21 {
	width: 60%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../image/IMG_5830.JPG");
	background-size: cover;
	background-position: center;
	}

	section.block12 {
	width: 100%;
	height: 80vh;
	margin-top: 10%;
	margin-bottom: 10%;
	background-image: url("../image/IMG_5847.JPG");
	background-size: cover;
	background-position: center;
	}

	section.block13 {
	width: 100%;
	height: 80vh;
	background-color: #F9E3C0;
	margin-bottom: 10%;
	}

	.place10 {
	width: 50%;
	height: 100%;
	float: left;
	}

	.foto22 {
	width: 45%;
	height: 70%;
	margin-left: 40%;
	background-image: url("../image/IMG_5836.JPG");
	background-size: cover;
	background-position: center;
	}

	.place11 {
	width: 50%;
	height: 20%;
	margin-left: 40%;
	margin-top: 5%;
	}

	.place11 p {
	font-size: 15px;
	font-weight: 100;
	}

	.place12 {
	width: 40%;
	height: 100%;
	background-image: url("../image/IMG_5815.JPG");
	background-size: cover;
	background-position: center;
	float: left;
	}

	section.block14 {
	width: 100%;
	height: 30vh;
	margin-bottom: 10%;
	}

	.place14 {
	width: 100%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 20%;
	background-image: url("../image/simondorte.png");
	background-size: contain;
	background-position: center;
	}
}


section.box1 {
	width: 100%;
	height: 80vh;
	margin-top: 5%;
}

.kotak1 {
	width: 40%;
	height: 100%;
	background-color: #626553;
	float: left;
}

.kotak2 {
	width: 20%;
	height: 100%;
	float: left;
}

.kotak3 {
	width: 40%;
	height: 100%;
	background-color: #E0BCA5;
	float: left;
}


.square1 {
	width: 95%;
	height: 100%;
	float: left;
	margin-right: 5%;
}

.square2 {
	width: 100%;
	height: 100%;
	float: left;
}

.kata1 {
	width: 100%;
	height: 40%;
}

.kata1 h1{
	text-align: right;
	font-size: 100px;
	color: white;
	padding-top: 25%;
}

.kata2 {
	width: 48%;
	height: 20%;
	margin-left: 5%;
	margin-top: 30%;
}

.kata2 p {
	font-weight: 100;
}

.gambar1 {
	width: 40%;
	height: 45%;
	margin-left: 60%;
	background-image: url("../image/IMG_5585.JPG");
	background-size: cover;
	background-position: center;
}

.gambar2 {
	width: 100%;
	height: 65%;
	background-image: url("../image/IMG_5567.JPG");
	background-size: cover;
	background-position: center;
}

.gambar3 {
	width: 100%;
	height: 35%;
	background-image: url("../image/IMG_5584.JPG");
	background-size: cover;
	background-position: bottom;
}

.gambar4 {
	width: 40%;
	height: 50%;
	margin-left: 5%;
	background-image: url("../image/IMG_5604.JPG");
	background-size: cover;
	background-position: bottom;
}

section.box2 {
	width: 100%;
	height: 15vh;
	margin-top: 5%;
	
}

.kotak4 {
	width: 1%;
	height: 100%;
	margin-left: 10%;
	margin-right: 5%;
	background-color: #B5C0C6;
	float: left;
}

.kata3 {
	width: 35%;
	height: 100%;

}

.kata3 p {
	font-weight: 100;
	padding-top: 2%;
}

section.box3 {
	width: 100%;
	height: 40vh;
	margin-top: 5%;
	background-color: #B9AE88;
}

.gambar5 {
	width: 19.25%;
	height: 100%;
	margin-left: 10%;
	margin-right: 1%;
	float: left;
	background-image: url("../image/IMG_5574.JPG");
	background-size: cover;
	background-position: center;
}

.gambar6 {
	width: 19.25%;
	height: 100%;
	margin-right: 1%;
	float: left;
	background-image: url("../image/IMG_5578.JPG");
	background-size: cover;
	background-position: center;
}
.gambar7 {
	width: 19.25%;
	height: 100%;
	margin-right: 1%;
	float: left;
	background-image: url("../image/IMG_5575.JPG");
	background-size: cover;
	background-position: center;
}
.gambar8 {
	width: 19.25%;
	height: 100%;
	float: left;
	background-image: url("../image/IMG_5606.JPG");
	background-size: cover;
	background-position: center;
}

section.box4 {
	width: 100%;
	height: 70vh;
	background-color: #B5C0C6;
	margin-top: 5%;
}

.gambar9 {
	width: 40%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../image/IMG_5579.JPG");
	background-size: cover;
	background-position: center;
}

section.box5 {
	width: 100%;
	height: 100vh;	
	margin-top: 5%;
}

.kotak5 {
	width: 100%;
	height: 30%;
	background-color: #E0BCA5;
}

.kata4 {
	width: 50%;
	height: 55%;
	margin-left: 20%;
}

.kata4 h1 {
	color: white;
	font-size: 120px;
}

.kata5 {
	width: 20%;
	height: 20%;
	margin-left: 20%;
}

.kata5 p {
	font-weight: 100;
}

.kotak6 {
	width: 100%;
	height: 70%;
	margin-top: 5%;
}

.january {
	width: 30%;
	height: 20%;
	margin-top: 30%;
	margin-left: 5%;
	float: left;
	background-image: url("../image/feb25.png");
	background-size: cover;
	background-position: center;
}

.gambar10 {
	width: 25%;
	height: 100%;
	float: left;
	margin-left: 5%;
	margin-right: 3%;
	background-image: url("../image/IMG_5560.JPG");
	background-size: cover;
	background-position: center;
}

.gambar11 {
	width: 25%;
	height: 100%;
	float: left;
	background-image: url("../image/IMG_5565.JPG");
	background-size: cover;
	background-position: center;
}

section.box6 {
	width: 100%;
	height: 60vh;
	margin-top: 10%;
	background-color: #626553;
}

.gambar12 {
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../image/IMG_5581.JPG");
	background-size: cover;
	background-position: center;
}

section.box7 {
	width: 100%;
	height: 20vh;
	background-color: #E0BCA5;
}

.kata6 {
	width: 30%;
	height: 80%;
	margin-left: 60%;
}

.kata6 p {
	padding-top: 5%;
	font-weight: 100;
}

section.box8 {
	width: 100%;
	height: 70vh;
	background-color: #B9AE88;
}

.kotak7 {
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.gambar13 {
	width: 48%;
	height: 100%;
	float: left;
	margin-right: 4%;
	background-image: url("../image/IMG_5563.JPG");
	background-size: cover;
	background-position: center;
}

.gambar14 {
	width: 48%;
	height: 100%;
	float: left;
	background-image: url("../image/IMG_5562.JPG");
	background-size: cover;
	background-position: center;
}

section.box9 {
	width: 100%;
	height: 60vh;
	background-color: #B5C0C6;
	margin-top: 5%;
}

.kotak8 {
	width: 50%;
	height: 70%;
	margin-left: 10%;
}

.gambar15 {
	width: 32%;
	height: 100%;
	float: left;
	margin-right: 2%;
	background-image: url("../image/IMG_5573.JPG");
	background-size: cover;
	background-position: center;
}

.gambar16 {
	width: 32%;
	height: 100%;
	float: left;
	margin-right: 2%;
	background-image: url("../image/IMG_5576.JPG");
	background-size: cover;
	background-position: center;
}

.gambar17 {
	width: 32%;
	height: 100%;
	float: left;
	background-image: url("../image/IMG_5603.JPG");
	background-size: cover;
	background-position: center;
}

.kotak9 {
	width: 26%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

.kotak9 p {
	font-weight: 100;
}

section.box10 {
	width: 100%;
	height: 60vh;
	margin-top: 5%;
	margin-bottom: 5%;
}

.kotak10 {
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.gambar18 {
	width: 48%;
	height: 100%;
	margin-right: 4%;
	float: left;
	background-image: url("../image/IMG_5558.JPG");
	background-size: cover;
	background-position: center;
}

.gambar19 {
	width: 48%;
	height: 100%;
	float: left;
	background-image: url("../image/IMG_5559.JPG");
	background-size: cover;
	background-position: center;
}

section.box11 {
	width: 100%;
	height: 40vh;
	background-color: #B9AE88;
}

.gambar20 {
	width: 15%;
	height: 100%;
	margin-left: 10%;
	float: left;
	background-image: url("../image/IMG_5583.JPG");
	background-size: cover;
	background-position: center;
}

.gambar21 {
	width: 15%;
	height: 100%;
	margin-left: 3%;
	float: left;
	background-image: url("../image/IMG_5582.JPG");
	background-size: cover;
	background-position: center;
}

.kata8 {
	width: 25%;
	height: 100%;
	float: left;
	margin-left: 3%;
}

.kata8 p {
	font-weight: 100;
	padding-top: 70%;
}

section.box12 {
	width: 100%;
	height: 60vh;
	margin-top: 5%;
	background-color: #626553;
}

.kotak11{
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.gambar22 {
	width: 48%;
	height: 100%;
	margin-right: 4%;
	float: left;
	background-image: url("../image/IMG_5557.JPG");
	background-size: cover;
	background-position: center;
}

.gambar23 {
	width: 48%;
	height: 100%;
	float: left;
	background-image: url("../image/IMG_5556.JPG");
	background-size: cover;
	background-position: center;
}

section.box13 {
	width: 100%;
	height: 40vh;
	background-color: #B5C0C6;
	margin-top: 5%;
}

.ladefense {
	width: 30%;
	height: 45%;
	margin-top: 10%;
	margin-right: 1%;
	margin-left: 25%;
	background-image: url("../image/la defense.png");
	background-size: cover;
	background-position: center;
	float: left;
}

.gambar24 {
	width: 15%;
	height: 100%;
	margin-right: 2%;
	background-image: url("../image/IMG_5580.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}

.gambar25 {
	width: 15%;
	height: 100%;
	background-image: url("../image/IMG_5577.JPG");
	background-size: cover;
	background-position: center;
	float: left;
}

section.box14 {
	width: 100%;
	height: 60vh;
	margin-top: 5%;
	background-color: #626553;
}

.kotak12{
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.gambar26 {
	width: 48%;
	height: 100%;
	margin-right: 4%;
	float: left;
	background-image: url("../image/IMG_5561.JPG");
	background-size: cover;
	background-position: center;
}

.gambar27 {
	width: 48%;
	height: 100%;
	float: left;
	background-image: url("../image/IMG_5564.JPG");
	background-size: cover;
	background-position: center;
}


section.box15 {
	width: 100%;
	height: 40vh;
	margin-top: 5%;
	background-color: #B5C0C6;
}

.kotak13 {
	width: 50%;
	height: 100%;
	margin-left: 40%;
}

.gambar28 {
	width: 32%;
	height: 100%;
	float: left;
	margin-right: 2%;
	background-image: url("../image/IMG_5568.JPG");
	background-size: cover;
	background-position: center;
}

.gambar29 {
	width: 32%;
	height: 100%;
	float: left;
	margin-right: 2%;
	background-image: url("../image/IMG_5569.JPG");
	background-size: cover;
	background-position: center;
}

.gambar30 {
	width: 32%;
	height: 100%;
	float: left;
	background-image: url("../image/IMG_5602.JPG");
	background-size: cover;
	background-position: center;
}

section.box16 {
	width: 100%;
	height: 70vh;
	margin-top: 5%;
	background-color: #E0BCA5;
}

.gambar31 {
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../image/IMG_5613.JPG");
	background-size: cover;
	background-position: center;
}

.kata9 {
	width: 30%;
	height: 20%;
	background-color: #F6F0E4;
}

.kata9 h1 {
	text-align: center;
	padding: 10%;
}

section.box17 {
	width: 100%;
	height: 40vh;
	margin-top: 5%;
	margin-bottom: 5%;
}

.simon {
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../image/simondorte.png");
	background-size: cover;
	background-position: center;
}


@media (max-width:768px) 
{ 
		section.box1 {
		width: 100%;
		height: 80vh;
		margin-top: 5%;
	}

	.kotak1 {
		width: 40%;
		height: 100%;
		background-color: #626553;
		float: left;
	}

	.kotak2 {
		width: 40%;
		height: 100%;
		background-color: #E0BCA5;
		float: left;
	}

	.kotak3 {
		width: 20%;
		height: 100%;
		background-color: #E0BCA5;
		float: left;
	}

	.square1 {
		width: 96%;
		height: 100%;
		float: left;
		margin-right: 5%;
	}

	.square2 {
		width: 100%;
		height: 100%;
		float: left;
	}

	.kata1 {
		width: 100%;
		height: 13%;
	}

	.kata1 h1{
		text-align: right;
		margin-left: 2px;
		font-size: 40px;
		color: white;
		padding-top: 25%;
	}

	.kata2 {
		width: 50%;
		height: 35%;
		margin-left: 5%;
		margin-top: 90%;
	}

	.kata2 p {
		font-weight: 100;
		font-size: 12px;
	}

	.gambar1 {
		width: 100%;
		height: 80%;
		margin-left: 0%;
		background-image: url("../image/IMG_5585.JPG");
		background-size: cover;
		background-position: center;
		float: left;
	}

	.gambar2 {
		padding-top: 20%;
		width: 100%;
		height: 60%;
		background-image: url("../image/IMG_5567.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar3 {
		margin-top: 5%;
		width: 100%;
		height: 33%;
		background-image: url("../image/IMG_5584.JPG");
		background-size: cover;
		background-position: bottom;
	}

	.gambar4 {
		width: 90%;
		height: 50%;
		margin-top: 20%;
		margin-left: 5%;
		background-image: url("../image/IMG_5604.JPG");
		background-size: cover;
		background-position: left;
	}

	section.box2 {
		width: 100%;
		height: 15vh;
		margin-top: 5%;
		
	}

	.kotak4 {
		width: 1%;
		height: 100%;
		margin-left: 10%;
		margin-right: 5%;
		background-color: #B5C0C6;
		float: left;
	}

	.kata3 {
		width: 35%;
		height: 100%;
		margin-left: 20%;

	}

	.kata3 p {
		font-size: 14px;
		font-weight: 100;
		padding-top: 2%;
	}

	section.box3 {
		width: 100%;
		height: 40vh;
		margin-top: 5%;
		background-color: #B9AE88;
	}

	.gambar5 {
		width: 19.25%;
		height: 100%;
		margin-left: 10%;
		margin-right: 1%;
		float: left;
		background-image: url("../image/IMG_5574.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar6 {
		width: 19.25%;
		height: 100%;
		margin-right: 1%;
		float: left;
		background-image: url("../image/IMG_5578.JPG");
		background-size: cover;
		background-position: center;
	}
	.gambar7 {
		width: 19.25%;
		height: 100%;
		margin-right: 1%;
		float: left;
		background-image: url("../image/IMG_5575.JPG");
		background-size: cover;
		background-position: center;
	}
	.gambar8 {
		width: 19.25%;
		height: 100%;
		float: left;
		background-image: url("../image/IMG_5606.JPG");
		background-size: cover;
		background-position: center;
	}

	section.box4 {
		width: 100%;
		height: 70vh;
		background-color: #B5C0C6;
		margin-top: 5%;
	}

	.gambar9 {
		width: 40%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		background-image: url("../image/IMG_5579.JPG");
		background-size: cover;
		background-position: center;
	}

	section.box5 {
		width: 100%;
		height: 100vh;	
		margin-top: 5%;
	}

	.kotak5 {
		width: 100%;
		height: 30%;
		background-color: #E0BCA5;
	}

	.kata4 {
		width: 60%;
		height: 30%;
		margin-left: 10%;
	}

	.kata4 h1 {
		margin-top: 10px;
		color: white;
		font-size: 80px;
	}

	.kata5 {
		margin-top: 30%;
		width: 60%;
		height: 40%;
		margin-left: 35%;
	}

	.kata5 p {
		font-size: 16px;
		text-align: right;
		font-weight: 100;
	}

	.kotak6 {
		width: 100%;
		height: 70%;
		margin-top: 5%;
	}

	.january {
		width: 50%;
		height: 10%;
		margin-top: 30%;
		margin-left: 0%;
		float: left;
		background-image: url("../image/feb25.png");
		background-size: contain;
		background-position: center;
	}

	.gambar10 {
		width: 25%;
		height: 100%;
		float: left;
		margin-left: 0%;
		margin-right: 0%;
		background-image: url("../image/IMG_5560.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar11 {
		width: 25%;
		height: 100%;
		margin-left: 0%;
		float: left;
		background-image: url("../image/IMG_5565.JPG");
		background-size: cover;
		background-position: center;
	}

	section.box6 {
		width: 100%;
		height: 60vh;
		margin-top: 10%;
		background-color: #626553;
	}

	.gambar12 {
		width: 60%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		background-image: url("../image/IMG_5581.JPG");
		background-size: cover;
		background-position: center;
	}

	section.box7 {
		width: 100%;
		height: 20vh;
		background-color: #E0BCA5;
	}

	.kata6 {
		width: 50%;
		height: 80%;
		margin-left: 25%;
	}

	.kata6 p {
		padding-top: 5%;
		font-weight: 100;
		font-size: 15px;
		text-align: center;
	}

	section.box8 {
		width: 100%;
		height: 70vh;
		background-color: #B9AE88;
	}

	.kotak7 {
		width: 50%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.gambar13 {
		width: 48%;
		height: 100%;
		float: left;
		margin-right: 4%;
		background-image: url("../image/IMG_5563.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar14 {
		width: 48%;
		height: 100%;
		float: left;
		background-image: url("../image/IMG_5562.JPG");
		background-size: cover;
		background-position: center;
	}

	section.box9 {
		width: 100%;
		height: 60vh;
		background-color: #B5C0C6;
		margin-top: 5%;
	}

	.kotak8 {
		padding-top: 5%;
		width: 80%;
		height: 70%;
		margin-left: 10%;
	}

	.gambar15 {
		width: 32%;
		height: 100%;
		float: left;
		margin-right: 2%;
		background-image: url("../image/IMG_5573.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar16 {
		width: 32%;
		height: 100%;
		float: left;
		margin-right: 2%;
		background-image: url("../image/IMG_5576.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar17 {
		width: 32%;
		height: 100%;
		float: left;
		background-image: url("../image/IMG_5603.JPG");
		background-size: cover;
		background-position: center;
	}

	.kotak9 {
		width: 40%;
		height: 30%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
	}

	.kotak9 p {
		font-size: 15px;
		font-weight: 100;
		text-align: center;
	}

	section.box10 {
		width: 100%;
		height: 60vh;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.kotak10 {
		width: 50%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.gambar18 {
		width: 48%;
		height: 100%;
		margin-right: 4%;
		float: left;
		background-image: url("../image/IMG_5558.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar19 {
		width: 48%;
		height: 100%;
		float: left;
		background-image: url("../image/IMG_5559.JPG");
		background-size: cover;
		background-position: center;
	}

	section.box11 {
		width: 100%;
		height: 40vh;
		background-color: #B9AE88;
	}

	.gambar20 {
		width: 15%;
		height: 100%;
		margin-left: 10%;
		float: left;
		background-image: url("../image/IMG_5583.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar21 {
		width: 30%;
		height: 100%;
		margin-left: 3%;
		float: left;
		background-image: url("../image/IMG_5582.JPG");
		background-size: cover;
		background-position: center;
	}

	.kata8 {
		width: 25%;
		height: 100%;
		float: left;
		margin-left: 3%;
	}

	.kata8 p {
		font-weight: 100;
		padding-top: 70%;
	}

	section.box12 {
		width: 100%;
		height: 60vh;
		margin-top: 5%;
		background-color: #626553;
	}

	.kotak11{
		width: 80%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.gambar22 {
		width: 48%;
		height: 100%;
		margin-right: 4%;
		float: left;
		background-image: url("../image/IMG_5557.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar23 {
		width: 48%;
		height: 100%;
		float: left;
		background-image: url("../image/IMG_5556.JPG");
		background-size: cover;
		background-position: center;
	}

	section.box13 {
		width: 100%;
		height: 40vh;
		background-color: #B5C0C6;
		margin-top: 5%;
	}

	.ladefense {
		width: 40%;
		height: 15%;
		margin-top: 10%;
		margin-right: 1%;
		margin-left: 10%;
		background-image: url("../image/la defense.png");
		background-size: contain;
		background-position: center;
		float: left;
	}

	.gambar24 {
		width: 20%;
		height: 100%;
		margin-right: 2%;
		background-image: url("../image/IMG_5580.JPG");
		background-size: cover;
		background-position: right;
		float: left;
	}

	.gambar25 {
		width: 25%;
		height: 100%;
		background-image: url("../image/IMG_5577.JPG");
		background-size: cover;
		background-position: center;
		float: left;
	}

	section.box14 {
		width: 100%;
		height: 60vh;
		margin-top: 5%;
		background-color: #626553;
	}

	.kotak12{
		width: 80%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.gambar26 {
		width: 48%;
		height: 100%;
		margin-right: 4%;
		float: left;
		background-image: url("../image/IMG_5561.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar27 {
		width: 48%;
		height: 100%;
		float: left;
		background-image: url("../image/IMG_5564.JPG");
		background-size: cover;
		background-position: center;
	}


	section.box15 {
		width: 100%;
		height: 40vh;
		margin-top: 5%;
		background-color: #B5C0C6;
	}

	.kotak13 {
		width: 50%;
		height: 100%;
		margin-left: 40%;
	}

	.gambar28 {
		width: 32%;
		height: 100%;
		float: left;
		margin-right: 2%;
		background-image: url("../image/IMG_5568.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar29 {
		width: 32%;
		height: 100%;
		float: left;
		margin-right: 2%;
		background-image: url("../image/IMG_5569.JPG");
		background-size: cover;
		background-position: center;
	}

	.gambar30 {
		width: 32%;
		height: 100%;
		float: left;
		background-image: url("../image/IMG_5602.JPG");
		background-size: cover;
		background-position: center;
	}

	section.box16 {
		width: 100%;
		height: 70vh;
		margin-top: 5%;
		background-color: #E0BCA5;
	}

	.gambar31 {
		width: 60%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		background-image: url("../image/IMG_5613.JPG");
		background-size: cover;
		background-position: center;
	}

	.kata9 {
		width: 50%;
		height: 10%;
		background-color: #000000;
	}

	.kata9 h1 {
		font-size: 15px;
		text-align: center;
		padding: 10%;
	}

	section.box17 {
		width: 100%;
		height: 40vh;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.simon {
		margin-top: 60pt;
		width: 100%;
		height: 60%;
		margin-left: auto;
		margin-right: auto;
		background-image: url("../image/simondorte.png");
		background-size: contain;
		background-position: center;
	}
}
